body {
  font-family: Arial;
  background: #f2f2f2;
  padding-top: 50px;
  text-align: center;
}

form { 
    background: white; display: inline-block; padding: 20px 40px; border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

input { 
    display: block; margin: 10px auto; padding: 10px; width: 250px;
}

button { 
    padding: 10px 20px; background: #007bff; color: white; border: none; border-radius: 5px; cursor: pointer; 
}

button:hover { 
    background: #0056b3;
}

.msg { 
    margin-top: 15px; color: green; font-weight: bold;
}

#logout-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 15px;
  background-color: #dc3545;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#logout-btn a {
  color: white;              /* color del texto */
  text-decoration: none;     /* quita el subrayado */
}

#logout-btn a:hover {
  text-decoration: underline; /* opcional, si quieres que se subraye al pasar el mouse */
}